body{
    background-color: #ffdd83;
    font-family: 'Signika', sans-serif;
    margin: 0px;
    height: 100vh;
}
body#timer-body{
    background-color: #6EA11A;
}

a, a:hover, a:focus, a:active {
    color: inherit;
}

.navbar{
    padding: 40px 80px;

}

#signature{
    color: white;
    padding: 0px;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
}

#login-btn-form{
    display: inline-flex;
    float: right;
}

#login-btn{
    height: 50px; 
    width: 100px;
    border: 2px #000;
    border-radius: 3px;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #6EA11A;
    background-color: white;
    cursor: pointer;

}

.page-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    height: 450px;
    width: 450px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 30px 30px;
    border-radius: 8px;
}

.login-form{
    margin-top: 30px;
    text-align: left;
    font-weight: bold;
    justify-content: center;
}

input[type=text], input[type=password] {   
    width: 100%;   
    margin: 5px 0px 30px;  
    padding: 12px 20px;   
    display: inline-block;  
    box-sizing: border-box; 
    border-radius: 3px;  
    border: 2px #C4C4C4;
    background-color: #C4C4C4;
}  

.form-login-btn{
    width: 100%;
    padding: 15px;
    margin: 40px 0px 15px;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    border: 2px rgb(34, 34, 34);
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: rgb(34, 34, 34);
}

.signup{
    text-align: center;
    display: block;
    justify-content: center;
}

#login-img{
    position: absolute;
    height: 1000px;
    bottom: 0px;
    right: 0px;
}

#timer-container{
    height: 650px;
    width: 600px;
    padding: 30px 30px;
    display: block;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #8BC22F;
}

.timer-navbar{
    padding: 15px;
}


.timer-nav-btn{
    height: 57px; 
    width: 150px;
    border: 2px #8BC22F;
    border-radius: 3px;;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    color: white;
    background-color: #8BC22F;
    cursor: pointer;
}

.timer-nav-btn:hover{
    background-color: #6EA11A;
}

#clock-container{
    height: 150px;
    padding: 0px 20px 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 130px;
}

#img{
    width: 180px;
    height: 245px;
}

#start-btn{
    width: 25%;
    padding: 15px;
    margin: 60px 0px 15px;
    font-size: 30px;
    font-family: 'Signika', sans-serif;
    border: 2px rgb(34, 34, 34);
    border-radius: 3px;
    cursor: pointer;
    color: #6EA11A;
}