body{
    font-family: 'Signika', sans-serif !important;
    margin: 0px;
    height: 100vh !important;
    overflow: hidden;
    transition: background-color 0.5s ease-in-out 0s;
}

a, a:hover, a:focus, a:active {
    color: inherit;
}


.btn-lg{
    width: auto;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    color: white;
    border: 0px;
    border-radius: 3px;
    font-size: 20px;
    transition: color 0.5s ease-in-out 0s;
}

/* Navbar content */
.navbar{
    padding: 8px 50px 8px 50px !important;
}
#logo{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
}

.icon{
    height: 40px;
    margin: 0px 5px 10px 5px;
}
.dropdown{
    position: relative;
    top: 15px;
    width: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    height: 100%;
    background-color: white;
    border-radius: 4px !important;
    min-width: 160px;
    width: 180px;
    z-index: 1;
}

.show {display:block;}

.dropdown-content-btn{
    width: 100% !important;
    border: 2px rgb(34, 34, 34);
    border-radius: 3px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color:  #365542;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: #365542;
}

.dropdown-icon{
    position: relative;
    right: 6px;
}







/* Navbar Buttons */
#login-btn-form{
    margin: 0px;
}

#login-btn {
    width: 150px;
    height: 50px; 
    max-width: 125px;
    background-color: white;
}


#login-icon{
    position: relative;
    right: 15px;
}

#user-btn{
    height: 50px; 
    width: auto;
    max-width: 300px;
    color: #365542;
}

.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    height: 450px;
    width: 450px;
    display: block;
    background-color: white;
    padding: 30px 30px;
    border-radius: 8px;
}

.login-form{
    margin-top: 30px;
    font-weight: bold;
}

input[type=email], input[type=password] {   
    width: 100%;   
    margin: 5px 0px 25px;  
    padding: 12px 20px;   
    display: inline-block;  
    box-sizing: border-box; 
    border: 2px #C4C4C4;
    background-color: #C4C4C4;
}  

.form-login-btn{
    position: relative;
    border: 2px rgb(34, 34, 34);
    background-color: rgb(34, 34, 34);
}

.login-error-message {
    color: rgb(226,30,44) !important;
}

#email-error-message-container {
    height: 24px;
    position: relative;
    top: -10px;
}

#password-error-message-container {
    height: 24px;
    position: relative;
    top: -10px;
}

.signup{
    text-align: center;
    display: block;
    justify-content: center;
    padding-top: 20px;
}


#login-img{
    position: absolute;
    z-index: -100;
}

/* @media (max-width: 480px) {
    #logo{
        font-size: 30px;
    }
    .login-container{
        bottom: 0px;
        margin-top: 5em;
        width: 350px;

    }
    #login-img{
        height: 900px;
        width: 350px;
        bottom: 0px;
        right: -50px;
    }
} */

@media (min-width: 480px) {
    .login-container{
        bottom: 0px;
        margin-top: 5em;
        width: 350px;

    }
    #login-img{
        height: 900px;
        width: 400px;
        bottom: 0px;
        right: 0px;
    }

}
@media (min-width: 800px){
    .login-container{
        bottom: 0px;
        margin-top: 8em;
        width: 450px;
    }
    #login-img{
        height: 1200px;
        width: 30em;
        bottom: 0px;
        right: 0px;
    }
    .form-login-btn{
        top: 20px;
    }
}

@media (min-width: 1100px){
    #login-img{
        height: 1300px;
        width: 40em;
        bottom: 0px;
        right: 0px;
    }
}

#timer-container{
    position: relative;
    top: 7vh;
    height: 700px;
    width: 600px;
    padding: 30px 30px;
    display: block;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #365542;
    font-family: 'Bahnschrift' !important;
    transition: background-color 0.5s ease-in-out 0s;
}

.timer-multi-button{
    padding: 15px;
    border-radius: 3px;
}

.timer-nav-btn{
    height: 57px; 
    width: 150px;
    border: 2px #365542;
    border-radius: 0px !important;
    background-color: #365542;
    font-family: 'Bahnschrift' !important;
    transition: background-color 0.5s ease-in-out 0s;
}

#clock-container{
    height: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 7em;
}

#img{
    width: 250px;
    height: 300px;
    position: relative;
}


#start-btn{
    position: relative;
    top: 30px;
    background-color: white;
    height: 55px;
    width: 177px;
    font-size: 23px;
    border: 2px rgb(34, 34, 34);
    box-shadow: 0px 6px 0px rgb(220 220 220);
    color: #365542;
}

.btn-clicked{
    transform: translateY(6px);
    box-shadow: 0px 0px 0px !important;
}

@media (max-width: 480px){
    .navbar{
        padding: 8px 25px 8px 25px !important;
    }
    #timer-container{
        position: relative;
        height: 550px;
        width: 375px;
        display: block;
        text-align: center;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: #365542;
        font-family: 'Bahnschrift' !important;
        transition: background-color 0.5s ease-in-out 0s;
    }
    .timer-multi-button{
        padding: 15px 0px 15px 0px;
        border-radius: 3px;
    }
    .timer-nav-btn{
        position: relative;
        left: -15px;
        width: 98px !important;
        font-size: 12px !important;
    }
    #logo{
        font-size: 30px !important;
    }
    .icon{
        height: 25px;
        margin-bottom: 5px;
    }
    #login-btn{
        width: 115px;
        height: 35px;
        font-size: medium;
    }
    /* iso tree img */
    #img{
        width: 140px;
        height: 175px;
    }
    .form-login-btn {
        margin-top: 30px;
        top: -20px;
    }
    #start-btn{
        position: relative;
        top: 40px;
    }
}